.single-tag{
    position: relative;
    list-style: none;
    padding: 10px;
    max-width: 200px;
    margin: 20px;
    text-align: center;
  
    text-decoration: none;
    background-color: #FEFCFB;
    color: black;
    border: black solid 2px;
    font-size: 18px;
  
    box-shadow: 5px 5px;
    transition: transform 0.3s, box-shadow 0.3s;

}  

.single-tag:hover {
    transform: translate(5px, 5px);
    box-shadow: 3px 3px;
    transition: transform 0.3s, box-shadow 0.3s;

}